.hero {
  width: 100%;
  background: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 2rem 1rem;
  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  &__buttongroup {
    button {
      border: none;
      outline: 1px solid #fff;
      background: transparent;
      color: #fff;
      padding: 0.5rem 1rem;
      &:hover {
        background: #fff;
        color: none;
      }
    }
  }
}
